@using WebApplication.Data
@using WebApplication.Services
@model IList<ProductModel>
@inject ISeoFriendlyUrlStringConverter converter

<h1>Products</h1>

@foreach(var product in Model)
{
    <div>
        <span>@product.Name</span>
        <span>
            <a asp-action="Show" asp-route-id="@product.Id" asp-route-name="@converter.ToSeoFriendlyString(product.Name)">Show details</a>
        </span>

    </div>
}